.clients__title {
  margin-bottom: 50px;
  text-align: center;
  color: $title-text-color;
  font-size: 36px;
  line-height: 1.67;
}
.clients-list {
  display: flex;
  &__link {
    transition: color 250ms $transition-timing-function;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid $border-color-clients;
    border-radius: 4px;
    border-color: hover $accent-color;
    border-color: focus $accent-color;
    color: $border-color-clients;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  &__item:not(:last-child) {
    margin-right: $card-set-gap;
  }
  &__icon {
    fill: currentColor;
  }
}

// .clients__title {
//   margin-bottom: 50px;

//   text-align: center;
//   color: var(--title-text-color);

//   font-size: 36px;
//   line-height: 1.67;
// }

// .clients-list {
//   display: flex;
// }

// .clients-list__link {
//   transition: color 250ms var(--transition-timing-function);

//   display: flex;
//   justify-content: center;
//   align-items: center;

//   width: 170px;
//   height: 92px;
//   border: 1px solid var(--border-color-clients);
//   border-radius: 4px;
//   border-color: hover var(--accent-color);
//   border-color: focus var(--accent-color);
//   color: var(--border-color-clients);
// }
// .clients-list__item:not(:last-child) {
//   margin-right: var(--card-set-gap);
// }

// .clients-list__icon {
//   fill: currentColor;
// }

// .clients-list__link:hover,
// .clients-list__link:focus {
//   color: var(--accent-color);
// }
