.clients-list {
  display: flex;
}

.clients-link {
  transition: color 250ms var(--transition-timing-function);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border: 1px solid var(--border-color-clients);
  border-radius: 4px;
  border-color: hover var(--accent-color);
  border-color: focus var(--accent-color);
  color: var(--border-color-clients);
}
.clients-item:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.icon-clients {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
}
