.footer-flex {
  display: flex;
}

.footer-address {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--primary-white-color);

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);

  line-height: 1.71;
}

.address-section {
  font-style: normal;
}
.address-text {
  color: var(--primary-white-color);

  line-height: 1.71;
}

.footer-join {
  margin-top: 12px;
}

.footer-join-text {
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.33;

  color: var(--primary-white-color);

  margin-bottom: 20px;
}

.footer-join-list {
  display: flex;
}

.join-link {
  transition: background-color 250ms var(--transition-timing-function);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

.footer-join-item:not(:last-child) {
  margin-right: 10px;
}

.icon-join {
  fill: currentColor;
}

.subscribe {
  margin-left: 93px;
  margin-top: 12px;
}

.subscribe-input {
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;

  width: 358px;
  height: 50px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--primary-white-color);
}

.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  position: relative;

  padding-left: 29px;
  margin-left: 12px;

  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  transition: background-color 250ms var(--transition-timing-function);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.subscribe-form {
  display: flex;
  align-items: flex-end;
}

.subscribe-icon {
  position: absolute;
  right: 28px;
  bottom: 13px;

  fill: var(--primary-white-color);
}
