.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color;
  &-flex {
    display: flex;
  }
  &__address {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
  }
  &__logo {
    display: block;
    margin-bottom: 20px;
    color: $primary-white-color;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
  }
  &__join {
    margin-top: 12px;
  }
  &__subscribe {
    margin-left: 93px;
    margin-top: 12px;
  }
}
.address-section {
  font-style: normal;
  &__text {
    color: $primary-white-color;
    line-height: 1.71;
  }
  &__link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
  }
}
.join__text {
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.33;
  color: $primary-white-color;
  margin-bottom: 20px;
}
.join__list {
  display: flex;
}
.join__link {
  transition: background-color 250ms $transition-timing-function;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: $primary-white-color;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.join__item:not(:last-child) {
  margin-right: 10px;
}
.join__icon {
  fill: currentColor;
}
.subscribe__text {
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.33;
  color: $primary-white-color;
  margin-bottom: 20px;
}
.subscribe__input {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: $primary-white-color;
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
.subscribe__button {
  position: relative;
  padding-left: 29px;
  margin-left: 12px;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  transition: background-color 250ms $transition-timing-function;
  color: $primary-white-color;
  background-color: $accent-color;
}
.subscribe__form {
  display: flex;
  align-items: flex-end;
}
.subscribe__icon {
  position: absolute;
  right: 28px;
  bottom: 13px;
  fill: $primary-white-color;
}
