.address-list {
  display: flex;
  margin-left: auto;
  &__link {
    transition: color 250ms $transition-timing-function;
    padding: 32px 0px;
    &:focus,
    &:hover {
      color: $accent-color;
    }
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

// .address-list__item:not(:last-child) {
//   margin-right: 50px;
// }

// .address-list {
//   display: flex;
//   margin-left: auto;
// }

// .address-list__link {
//   transition: color 250ms var(--transition-timing-function);

//   padding: 32px 0px;
// }

// .address-list__link:focus,
// .address-list__link:hover {
//   color: var(--accent-color);
// }

// .address-list__icon {
//   margin-right: 10px;
//   fill: currentColor;
// }
