.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg.jpg');
  &__title {
    margin-bottom: $card-set-gap;
    color: $primary-white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  &__button {
    transition: background-color 250ms $transition-timing-function;
    padding: 10px 32px;
    border-radius: 4px;
    color: $primary-white-color;
    background-color: $accent-color;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  }
}
.hero__button:hover,
.hero__button:focus,
.form__button:hover,
.form__button:focus {
  background-color: $hover-button;
}

// .hero {
//   padding-top: 200px;
//   padding-bottom: 200px;
//   text-align: center;
//   max-width: 1600px;
//   margin-left: auto;
//   margin-right: auto;
//   background-size: cover;
//   background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url('../images/hero-bg.jpg');
// }

// .hero__title {
//   margin-bottom: var(--card-set-gap);

//   color: var(--primary-white-color);

//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
// }
// .hero__button {
//   transition: background-color 250ms var(--transition-timing-function);

//   padding: 10px 32px;
//   border-radius: 4px;

//   color: var(--primary-white-color);
//   background-color: var(--accent-color);

//   font-family: 'Roboto', sans-serif;
//   font-weight: bold;
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.06em;
// }
// .hero__button:hover,
// .hero__button:focus,
// .form__button:hover,
// .form__button:focus {
//   background-color: var(--hover-button);
// }
