.team {
  background-color: $secondary-bg-color;
  &__title {
    margin-bottom: 50px;
    text-align: center;
    color: $title-text-color;
    font-size: 36px;
    line-height: 1.67;
  }
  &-list {
    display: flex;
    &__item {
      text-align: center;
      border-radius: 0px 0px 4px 4px;
      background-color: $primary-white-color;
      padding-bottom: 30px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      &:not(:last-child) {
        margin-right: $card-set-gap;
      }
    }
    &__title {
      margin-top: $card-set-gap;
      margin-bottom: 10px;
      color: $title-text-color;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
    }
    &__text {
      margin-bottom: 16px;
    }
  }
  &-social {
    display: flex;
    justify-content: center;
    &__item {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    &__link {
      transition: color 250ms $transition-timing-function,
        background-color 250ms $transition-timing-function;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: $primary-white-color;
      color: $border-color-clients;
      &:hover,
      &:focus {
        color: $primary-white-color;
        background-color: $accent-color;
      }
    }
    &__icon {
      fill: currentColor;
    }
  }
}
// .team {
//   background-color: var(--secondary-bg-color);
// }

// .team__title {
//   margin-bottom: 50px;

//   text-align: center;
//   color: var(--title-text-color);

//   font-size: 36px;
//   line-height: 1.67;
// }

// .team-list {
//   display: flex;
// }
// .team-list__item {
//   text-align: center;
//   border-radius: 0px 0px 4px 4px;
//   background-color: var(--primary-white-color);
//   padding-bottom: 30px;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
// }

// .team-list__item:not(:last-child) {
//   margin-right: var(--card-set-gap);
// }

// .team-list__title {
//   margin-top: var(--card-set-gap);
//   margin-bottom: 10px;
//   color: var(--title-text-color);

//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.19;
// }

// .team-list__text {
//   margin-bottom: 16px;
// }

// .team-social {
//   display: flex;
//   justify-content: center;
// }

// .team-social__item {
// }

// .team-social__item:not(:last-child) {
//   margin-right: 10px;
// }

// .team-social__link {
//   transition: color 250ms var(--transition-timing-function),
//     background-color 250ms var(--transition-timing-function);

//   display: flex;
//   justify-content: center;
//   align-items: center;

//   width: 44px;
//   height: 44px;

//   border-radius: 50%;
//   background-color: var(--primary-white-color);
//   color: var(--border-color-clients);
// }

// .team-social__link:hover,
// .team-social__link:focus {
//   color: var(--primary-white-color);
//   background-color: var(--accent-color);
// }

// .team-social__icon {
//   fill: currentColor;
// }
